<div class="row">
    <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-usd"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Total Balance</span>
                <span class="info-box-number"><%= number_to_currency(Payment.all.sum(:balance)) %></span>
            </div>
        </div>
    </div>
    <% Building.all.each do |building| %>
    <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-building-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text"><%= building.name %></span>
                <span class="info-box-text">guests</span>
                <span class="info-box-number">
                    <%= Booking.joins(room: :building).where("buildings.id = #{building.id}").count %>
                </span>
            </div>
        </div>
    </div>
    <% end %>
</div>
