<%= form_with(model: payment, local: true) do |form| %>
<div class="box-body">
    <%= form.hidden_field :booking_id, id: :payment_booking_id %>
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <%= form.label :balance %>
                <%= form.text_field :balance, placeholder: "Enter balance", class: "form-control" %>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="payment[is_corporate]" value="Yes"> Is paid by corporate account
                </label>
            </div>
        </div>
    </div>
</div>
<div class="box-footer">
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
<% end %>
